.background-img {
    background-image: url('../../image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.tree-div {
    text-align: center;
    position: relative;
    height: 730px;
    z-index: 10;
    background-color: transparent;
}

.tree-img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

/* 구름 */
.cloud1 {
    position: fixed;
    top: 100px;
    left: 100vw;
    width: 250px;
    height: 150px;
    background-image: url('../../image/cloud.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: cloud-slide 10s linear infinite;
    z-index: 1;
}

.cloud2 {
    position: fixed;
    top: 200px;
    left: 100vw;
    width: 250px;
    height: 150px;
    background-image: url('../../image/cloud.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: cloud-slide2 20s linear infinite;
    z-index: 1;
}

@keyframes cloud-slide {
    from {
        left: 100vw;
    }
    to {
        left: -250px;
    }
}

@keyframes cloud-slide2 {
    from {
        left: 200vw;
    }
    to {
        left: -500px;
    }
}

.watering-img {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: translate(-20%, -110%);
}

.bottom-text {
    font-weight: bold;
    font-size: 20px;
}

.diff-div {
    background-color: #fee500;
    border-radius: 10px;
}

.diff {
    font-weight: bold;
    font-size: 30px;
}

.info-rate {
    color: #5db075;
    font-weight: bold;
}

.info-balance {
    font-weight: bold;
    font-size: 24px;
}

.card-img {
    width: 60px;
}

/* Maturity */
.maturity-content {
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}

.maturity-content p {
    font-size: large;
    font-weight: bold;
}

.maturity-button-field {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.rate-title {
    font-size: 11px;
    color: #848688;
}

.rate-cnt {
    font-size: 14px;
    font-weight: bold;
}

.rate-operator {
    padding-top: 14px;
}

/* 회색 배경 */
.home-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 회색 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 챌린지 완료 UI */
.challenge-popup {
    background-color: transparent; /* 완전 투명 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 100;
    box-shadow: none;
    margin-top: -150px;
}

/* 챌린지 횟수 %d 회 */
.challenge-count {
    font-size: 18px !important;
    font-weight: bold;
    color: white !important;
    margin-top: 5px;
}

/* 매일금리 - 노란색 강조 */
.challenge-text {
    font-size: 30px !important;
    font-weight: bold;
    color: #fee500 !important;
    margin-top: 5px;
}

/* 우대금리 텍스트 */
.challenge-rate {
    font-size: 22px !important;
    font-weight: bold;
    color: white;
    margin-top: 5px !important;
}

/* 챌린지 확인 버튼 */
.challenge-button {
    margin-top: 15px; /* 버튼 위쪽 여백 */
    display: flex;
    justify-content: center;
}

/* 피드백 영역 */
.feedback-container {
    position: absolute;
    top: 12%; /* 아래로 이동 */
    left: 12%;
    width: 80%;
    max-width: 300px;
    display: flex;
    z-index: 1000; /* 화면의 가장 앞쪽 배치 (구름보다 우선) */
    flex-direction: row;
    align-items: flex-start; /* 중앙 정렬 */
    transition: opacity 1s ease-in-out; /* 부드러운 사라짐 효과 */
}

/* 피드백 박스 스타일 */
.feedback-box {
    background-color: white;
    padding: 24px 12px; /* 내부 여백 증가 // 박스 크기 */
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 말풍선 꼬리 추가 */
.feedback-box::after {
    content: '';
    position: absolute;
    bottom: -10px; /* 아래쪽에 위치 */
    left: 25px; /* 왼쪽에서 살짝 떨어진 곳에 */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white; /* 삼각형 만들기 */
}

/* 로봇 애니메이션 */
.robot-ani {
    width: 130px;
    height: 130px;
    margin-top: 15px; /* 로봇과 텍스트 사이 간격 */
    position: absolute;
    top: 100%;
}

/* 피드백 텍스트 */
.feedback-text {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.termication-home {
    background-color: #fafafa;
}

.check-div {
    padding-top: 100px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.check-div p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.temination-check {
    width: 100px;
    height: 100px;
}

.termination-button-field {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.trophy {
    margin-top: -40px;
    margin-bottom: -10px;
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    left: 78px;
}

.target {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
    margin-left: 20px;
}

.target-coin {
    width: 40px;
    margin-right: 5px;
}

/* 왕관 애니메이션 */
.CrownAnimation {
    width: 50px;
    height: 50px;
    margin-left: 175px;
    margin-right: 5px;
    margin-bottom: -8px;
}

.target span {
    color: white;
    text-shadow: -1px -1px 0 #6cbcef, 1px -1px 0 #6cbcef, -1px 1px 0 #6cbcef, 1px 1px 0 #6cbcef;
    font-weight: bold;
    font-size: 20px;
}
