.backgrung-img {
    background-image: url('../../image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh;  */
}

.tree-div {
    text-align: center;
    position: relative;
    height: 730px;
    z-index: 10;
    background-color: transparent;
}

.tree-img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

/* 구름 */
.cloud1 {
    position: fixed;
    top: 100px;
    left: -250px;
    width: 250px;
    height: 150px;
    background-image: url('../../image/cloud.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: cloud-slide 15s linear infinite;
    z-index: 1;
}

.cloud2 {
    position: fixed;
    top: 200px;
    left: -250px;
    width: 250px;
    height: 150px;
    background-image: url('../../image/cloud.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: cloud-slide2 20s linear infinite;
    z-index: 1;
}

/* 구름이 슬라이드 되는 애니메이션 */
@keyframes cloud-slide {
    from {
        left: -250px;
    }
    to {
        left: 100vh;
    }
}

@keyframes cloud-slide2 {
    from {
        left: -500px;
    }
    to {
        left: 100vh;
    }
}

.watering-img {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: translate(-20%, -110%);
}

.bottom-text {
    font-weight: bold;
    font-size: 20px;
}

.diff-div {
    background-color: #fee500;
    border-radius: 10px;
}

.diff {
    font-weight: bold;
    font-size: 30px;
}

.info-rate {
    color: #5db075;
    font-weight: bold;
}

.info-balance {
    font-weight: bold;
    font-size: 24px;
}

.card-img {
    width: 60px;
}

/* Maturity */
.maturity-content {
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}

.maturity-content p {
    font-size: large;
    font-weight: bold;
}

.maturity-button-field {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.rate-title {
    font-size: 11px;
    color: #848688;
}

.rate-cnt {
    font-size: 14px;
    font-weight: bold;
}

.rate-operator {
    padding-top: 14px;
}
