/*카드 가입 약관*/
.all-agree-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 30px;
}

.all-agree-text {
    font-size: 16px;
    font-weight: bold;
    color: #2f9d27;
}

.card-img-div {
    width: 80%;
}

.card-img-div img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #5db075;
}
