.pedometer-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

/* 이미지 업로드 박스 */
.pedometer-upload-box {
    width: 100%;
    height: 200px;
    border: 2px dashed #499d40; /* 점선 테두리 */
    border-radius: 20px; /* 모서리 둥글게 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;

    overflow: hidden; /* 넘치는 이미지 방지 */
}

/* 이미지 업로드 박스 안에 사진 첨부 글씨 */
.pedometer-upload-text {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    color: #499d40;
    font-size: 14px;
}

/* 업로드된 이미지 */
.uploaded-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 박스 안 크기 맞게 조정 */
}

/* 사진 첨부 버튼 */
.pedometer-upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px; /* 아이콘과 텍스트 간격 */
    width: 100%;
    background-color: #e8e8e8;
    color: #499d40;
    padding: 12px;
    border: none;
    border-radius: 30px; /* 버튼을 둥글게 */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* 카메라 아이콘 크기 조정 */
.pedometer-upload-icon {
    font-size: 22px; /* 크기 */
    color: #499d40;
    margin-right: 3px; /* 아이콘과 텍스트 사이 간격 */
    vertical-align: middle; /* 버튼 내부에서 중앙 정렬 */
}

.pedometer-upload-button:disabled {
    background-color: #f0f0f0;
    color: #a0a0a0;
    cursor: not-allowed;
}

/* <p>사진 첨부 버튼 밑에 설명</p> */
.pedometer-upload-note {
    font-size: 8px; /* 글씨 크기 */
    color: #999696; /* 글자 색상 */
    text-align: left; /* 좌측 정렬 */
    align-self: flex-start; /* 글자만 좌측 정렬 */
    margin-top: 8px; /* 버튼과 간격 추가 */
    margin-bottom: 180px; /* 텍스트와 다음 버튼의 간격 */
}

.next-button:disabled {
    background-color: #5db075; /* 비활성화 상태일 때 연한 초록색 */
    cursor: not-allowed;
}

/* 다음 버튼을 항상 하단에 고정 */
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
    position: fixed;
    bottom: 60px; /* 푸터 위에 배치 */
    left: 0;
    background-color: white;
}
