.point-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    max-width: 390px;
    margin: 0 auto;
    padding: 8rem 1rem;
    box-sizing: border-box;
    background-color: #f8f9fa; /* 배경 색상 */
}

.point-box {
    color: forestgreen;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.point-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    padding: 25px 20px;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.point-icon {
    width: 40px;
    height: 40px;
}

.point-text {
    text-align: left;
    flex-grow: 1;
    padding: 0 10px;
}

.point-text-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.point-text-description {
    font-size: 10px;
    color: #777;
    margin: 5px 0 0;
    font-weight: 500;
}

.point-arrow {
    width: 20px;
    height: 20px;
}

.point-title {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: 900;
}
