.point1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #f8f9fa;
}

.quiz-title {
    color: #4b9460;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.quiz-content {
    background-color: #ffffff;
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin-bottom: 2rem;
}
.quiz-container2 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #5db075;
    border-radius: 10px;
    padding: 0.8rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.quiz-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.o-button {
    width: 100%;
    height: 100%;
    background-color: #5db075;
    border-radius: 5px;
    border: 3px solid #5db075;
}

.x-button {
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    border-radius: 5px;
    border: 3px solid #e8e8e8;
}

.quiz-button {
    width: 150px;
    height: 120px;
    line-height: 120px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
}

.quiz-button.selected {
    border-color: #5db075;
    transform: scale(1.1);
}

.hint-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    /* border: 2px solid #f0ad4e; 노란테두리*/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.8rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.hint-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.hint-content {
    text-align: left;
}

.hint-content .point-text-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.point1-button {
    background-color: #5db075 !important;
    color: #fff !important;
    border: none;
    width: 100%;
    padding: 1rem 0;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.point1-text {
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
    padding: 0 10px;
}

.point1-text-description {
    font-size: 13px;
    color: #777;
    font-weight: 500;
}

.point-modal-emoji {
    width: 100px;
    height: 100px;
}

.point1-text-title {
    position: relative;
    top: 15px;
}
