.payment {
    padding-top: 100px;
    text-align: center;
}
.payment-info {
    padding-top: 15px;
    text-align: center;
    font-size: 10px;
    color: red;
}

.payment-input {
    width: 90px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
    margin: 0 5px;
    color: #000000;
}
.payment-input::placeholder {
    color: lightgray;
    opacity: 0.5; /* 투명도 조절 (0.1 ~ 1) */
    font-size: 25px;
}
.paddingBottom {
    padding-bottom: 250px;
}
