.card-detail-container {
    padding-top: 100px;
}
.section-title {
    font-weight: bold;
    font-size: 18px;
}
.info-container {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.info-box {
    margin-left: 30px;    
    margin-right: 30px;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 20px 20px;
}

.info-box p {
    display: flex;
    justify-content: space-between; /* 항목명과 데이터 값을 양쪽 끝으로 정렬 */
    align-items: center;
    font-size: 16px;
    margin: 10px 0;
}

.info-box p strong {
    color: #888;
    font-weight: bold;
}

.info-box p span {
    color: black;
    font-size: 15px;
    font-weight: bolder;
}
.notice {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
    padding-left: 70px;
}
.agree-item2 {
    font-size: 18px;
    font-weight: bold;
}
.agree-item3{
    font-size: 20px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 45px;
}
.agree-item3 p{
    padding-bottom: 30px;
}

