.TextBox {
    text-align: center;
    padding-top: 90px;
}
.leaf {
    font-size: 35px;
    font-weight: bold;
    color: #5ab173;
}
.month {
    font-size: 35px;
    font-weight: bold;
    color: #4b9460;
}

.start-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.TextBox2,
.TextBox3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.text {
    color: black;
    font-size: 15px;
    font-weight: bolder;
}
.text2 {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.text3 {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}
.top-container {
    background-color: #fafafa;
}
.container2 {
    background-color: #a2d39c;
}
.image-section {
    text-align: center;
}
.image-section img {
    padding-top: 50px;
    width: 80%;
}

.start-field {
    background-color: #a2d39c;
}
