/* 미세먼지 정보 */
.fine-dust {
    padding: 16px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
}

/* 상태별 배경색 */
.fine-dust.good {
    background-color: #59B14F;
}

.fine-dust.moderate {
    background-color: #FC9E1B;
}

.fine-dust.bad {
    background-color: #DD2E44;
}

.finedust-text {
    text-align: left;
}

.dust-title {
    font-size: 25px;
    display: block;
}

.dust-subtitle {
    font-size: 13px;
    display: block;
}

.dust-num {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.dust-date {
    color: white;
    font-size: 12px;
    margin-left: auto;
}

.dust-date-div {
    position: relative;
    top: -10px
}

.news-section {
    margin-top: 20px;
}
/* 뉴스 섹션 */

.news-main {
    font-size: 20px;
    font-weight: bold;
}

.news-title {
    font-weight: bold;
}

.news-title a {
    text-decoration: none;
    color: #4B9460;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: block; 
    width: 100%; 
}

.tip-title {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: block; 
    width: 100%; 
}

.news-date {
    font-size: 12px;
    color: #BDBDBD;
    position: relative;
    top: -5px;
}

.news-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.news-item {
    background: #f5f5f5;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.news-img {
    width: 100%;
}

.news-img img {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.eco-tip-item {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.news-item:hover,
.eco-tip-item:hover {
    background: #e0f2f1;
}

.news-item h3,
.eco-tip-item h3 {
    font-size: 16px;
    margin: 0;
    color: #333;
}

.news-item p,
.eco-tip-item p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}

/* 모달 스타일 */
.modal-content {
    text-align: center;
    padding: 20px;
}

.modal-content h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
}

.modal-content button {
    width: 100%;
    padding: 12px;
    background: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #388e3c;
}
