.challenge-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    max-height: calc(100vh - 180px);
    width: 100%; /* 여기서도 width 100% 적용 */
    padding: 1rem;
}

.challenge-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem; /* 텍스트 아래 여백 추가 */
}

.challenge-description {
    font-size: 0.875rem;
    color: #4b5563;
    text-align: center;
    margin-bottom: 3rem; /* 챌린지를 선택해 주세요.(상단) 과 카드의 간격 조절 */
    margin-top: 1rem; /* 헤더와 겹치지 않도록 조정 */
}

/* 개별 챌린지 카드 스타일 */
.challenge-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.7rem; /* 모서리 둥굴게 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; /* 카드 간 간격 */
    width: 100%; /* 카드 크기 */
    padding: 10px;
    /* 카드 안 배치 간격 조절 */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px; /* 챌린지 이미지 */
    padding-right: 5px; /* > 이미지 */
}

/* 카드 내부 컨텐츠 정렬 */
.card-content {
    display: flex;
    align-items: center;
    width: 100%;
}

/* 카드 내부 이미지 */
.card-image {
    width: 4rem;
    height: 4rem;
    margin-left: 0rem; /* 좌측 여백 */
    margin-right: 1.2rem; /* 이미지와 설명의 여백 */
    border-radius: 0.5rem; /*모서리 둥굴게*/
}

/* 카드 제목 */
.card-title {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.8rem; /* 제목과 설명 사이 간격*/
}

/* 카드 설명 */
.card-text {
    font-size: 0.65rem;
    color: #4b5563;
    line-height: 1.3;
    word-break: keep-all; /* 단어 단위로 줄바꿈, 한국어 줄바꿈 자연스럽게 처리 */
}

/* 글자색 초록색 */
.highlight {
    color: #499d40;
    font-weight: bold;
}

/* 화살표 */
.arrow-image {
    width: 1.3rem; /* 원하는 크기로 조정 */
    margin-right: 0.05rem; /*오른쪽 여백*/
}

/* 우측 화살표 이미지 스타일 */
.card-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    margin-left: auto;
}
