/*카드 회원 가입*/
.join-container{
    padding-top: 100px;
}
.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;  
}

.input-container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    position: relative;
    border-radius: 15;
    padding-left: 15px;
    padding-right: 15px;

    
}
.modal-content h3{
    font-size: 20px;
    font-weight: bold;
}

.input-container label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.input-container.error input {
    border: 1px solid red;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.convert-btn {
    position: absolute;
    right: 10px;
    top: 32px;
    font-size: 12px;
    background: #f0f0f0;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.address-input {
    display: flex;
    align-items: center;
}

.address-input input {
    flex: 1;
}

.address-btn {
    margin-left: 10px;
    padding: 8px 15px;
    background: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-row {
    display: flex;
    gap: 10px;
    margin: 10px 20px;
}

.input-row input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.explain2 {
    padding-top: 5px;
    color: gray;
    font-size: 10px;
    padding-left: 15px;
}


/* select 박스 스타일 */
.select-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 7px;
}
.bank-select{
    padding-bottom: 25px;
}
.bank-list {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈 허용 */
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    max-width: 300px; /* 한 줄에 3개 배치될 수 있도록 제한 */
    margin: 0 auto; /* 가운데 정렬 */
}

.bank-button {
    width: calc(33.33% - 10px); /* 한 줄에 3개 배치 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* 은행 버튼 hover */
.bank-button:hover {
    background-color: #f0f0f0;
}
.shinhan-logo {
    width: 60px;
    height: 30px;
    padding-left: 3px;
}

.kookmin-logo {
    width: 60px;
    height: 25px;
    padding-left: 7px; 
}
.nonghyub-logo {
    width: 60px;
    height: 20px;
}
.hana-logo {
    width:60px;
    height: 30px;
    padding-left: 4px;
}
.woori-logo {
    width:60px;
    height: 27px;
    padding-left: 2px;
}
.kakao-logo {
    width:70px;
    height: 30px;
}
