.organization-content {
    border-radius: 15px;
    padding: 12px;
    width: 100%;
}

.organizatoin-list {
    background-color: #4b9460;
    border-radius: 60px;
    padding: 5px;
}

.organization-img {
    border-radius: 50%;
    background-color: wheat;
    width: 70px;
    height: 70px;
}

.organization-img img {
    width: 100%;
}

.organization-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
}

.organization-icon {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
