/* 전체 캘린더 스타일 */
.react-calendar {
    border: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
}

/* 날짜 칸 스타일 */
.react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
}

/* 날짜 칸 스타일 (버튼) */
.react-calendar__tile {
    background-color: #fafafa;
    border-radius: 6px;
    height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    padding-top: 2px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

/* 날짜 텍스트 */
.react-calendar__tile > abbr {
    text-align: left;
    width: 100%;
    text-decoration: none;
    font-size: 11px;
}

/* 요일 밑줄 제거 */
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__month-view__days__day--weekend {
    color: inherit;
}

/* hover 시 효과 제거 */
.react-calendar__tile:enabled:hover {
    background-color: #fafafa !important;
    transform: none !important;
}

/* 선택된 날짜 스타일 제거 */
.react-calendar__tile--active {
    background-color: #81c784 !important;
    color: inherit !important;
    border-radius: 6px;
}

/* 오늘 날짜 스타일 */
.react-calendar__tile--now {
    background-color: #81c784;
    color: white;
    border-radius: 6px;
}

/* 연월 텍스트 */
.react-calendar__navigation__label__labelText {
    font-weight: bold;
    font-size: 15px;
}

/* 캘린더 스티커 */
.calendar-sticker {
    position: relative;
    left: 3px;
    top: 5px;
    display: flex !important;
    opacity: 1 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-out;
}

.coin-emoji {
    width: 20px;
    height: 20px;
}