/* 카드 */
.card-info {
    padding-top: 15px;
    text-align: center;
    font-size: 10px;
    color: gray;
}
.payment-input {
    width: 120px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin: 0 5px;
    background-color: transparent;
}
.payment-input::placeholder {
    color: lightgray;
    opacity: 0.5; /* 투명도 조절 (0.1 ~ 1) */
    font-size: 25px;
}

.payment h3 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-text {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.card-section {
    margin-top: 25px;
    padding: 0 35px;
}

.card-label {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 5px;
    display: block;
}

.card-select,
.card-input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: 5px;
}

.eco-card {
    border-radius: 5px;
    padding: 15px 20px;
}
.eco-card-in {
    padding: 0 20px;
}
.eco-card label {
    color: gray;
}
.eco-card p {
    font-size: 12px;
    color: #5db075;
    margin: 5px 0;
}

.checkbox {
    margin-right: 10px;
    accent-color: #5db075;
    transition: background-color 0.2s ease-in-out;
}
.checkbox.checked {
    background-color: #5db075;
}

.checkbox.checked::after {
    content: '✔';
    color: white;
    font-size: 5px;
    font-weight: bold;
}

.checkbox-label {
    font-weight: bold;
    font-size: 14px;
}
.eco-benefits {
    padding-top: 10px;
    color: #5db075;
    font-size: 10px;
}
.summary {
    padding: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.summary p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0;
    padding: 0 10px;
    font-weight: bold;
    color: gray;
}

.summary span {
    font-weight: bold;
    color: black;
}
.explain-card {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 50px;
}
.explain {
    padding-top: 5px;
    color: gray;
    font-size: 10px;
}

/*리프 카드 모달창*/
.agree-item-modal {
    text-align: center;
    padding: 20px;
}

.modal-title-box {
    margin-top: 0px;
    padding-bottom: 20px;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.card-image {
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
}

.modal-text {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.modal-benefits {
    font-size: 14px;
    color: #555;
}

.highlight-text {
    color: #1a8d34;
    font-weight: bold;
}

/*한달 적금 개설 모달창*/
.summary-title-container {
    margin-top: 0px;
}
.summary-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: -20px;
}

.summary-table {
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.summary-label {
    font-size: 14px;
    color: #666;
}

.summary-value {
    font-size: 14px;
    font-weight: bold;
}

.modal-description {
    font-size: 10px;
    color: #888;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.card-field {
    background-color: #fafafa;
    padding: 20px;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
}
