/* 헤더 */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 16px;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-header {
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 16px;
    text-align: right;
    vertical-align: middle;
}

.home-div {
    display: inline-block;
    margin: 10px;
}

.header-icon {
    color: #fafafa;
    width: 30px;
    height: 30px;
}

.back-icon {
    position: absolute;
    left: 16px;
}

.header-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
