/*notice*/
.notice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: white;
    height: 100%;
}

.notice-description {
    text-align: center;
    color: gray;
    font-size: 14px;
}

.notice-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.notice-header {
    width: 100%;
}

.check-box {
    width: 20px;
    height: 20px;
    border: 2px solid #343434;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 0.2s ease-in-out;
}

.check-box.checked {
    background-color: #5db075;
    border: 2px solid #5db075;
    position: relative;
}

.check-box.checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.notice-header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.arrow-icon {
    cursor: pointer;
}

.arrow-icon:hover {
    color: black;
}

button:disabled {
    background: lightgray;
    cursor: not-allowed;
}

.agree-item {
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 45px;
}

.notice-ul {
    margin-bottom: 5px;
}

.notice-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
