html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 배경 */
.bg-green {
    background-color: #a2d39c;
}

/* 로그인 화면 */
.login-icon {
    top: 350px;
}

.login-btn {
    bottom: 100px;
}

.kakao-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
